@-webkit-keyframes fade-in {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-moz-keyframes fade-in {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@keyframes fade-in {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-webkit-keyframes fade-out {
  0% {
    opacity: 1; }

  100% {
    opacity: 0; } }

@-moz-keyframes fade-out {
  0% {
    opacity: 1; }

  100% {
    opacity: 0; } }

@keyframes fade-out {
  0% {
    opacity: 1; }

  100% {
    opacity: 0; } }

@-webkit-keyframes fade-in {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-moz-keyframes fade-in {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@keyframes fade-in {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-webkit-keyframes fade-out {
  0% {
    opacity: 1; }

  100% {
    opacity: 0; } }

@-moz-keyframes fade-out {
  0% {
    opacity: 1; }

  100% {
    opacity: 0; } }

@keyframes fade-out {
  0% {
    opacity: 1; }

  100% {
    opacity: 0; } }

.company {
  width: 395px;
  background: #FFF;
  border: 1px solid #CCC;
  margin: 10px 20px 35px;
  padding: 20px;
  float: left;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0px 0px 4px black;
  -moz-box-shadow: 0px 0px 4px black;
  -ms-box-shadow: 0px 0px 4px black;
  -o-box-shadow: 0px 0px 4px black;
  box-shadow: 0px 0px 4px black; }
  .company .company-header {
    border-bottom: 1px solid #BBB;
    padding-bottom: 15px; }
    .company .company-header h2 {
      margin: 0;
      padding: 0;
      font-size: 18px; }
  .company .company-slider {
    margin-top: 20px; }
    .company .company-slider .slider {
      background: #DDD;
      border: 1px solid #000;
      height: 300px; }
    .company .company-slider .description {
      margin-top: 15px; }

body {
  background: #EEE; }

.wrapper {
  width: 960px;
  margin: 0 auto; }

.left {
  float: left; }

.right {
  float: right; }

.clear {
  clear: both; }
